html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #949494;
}

.bloco {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding-top: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
ul { list-style-type: none; padding: 0; }
li { padding: 8px; margin: 5px 0; background-color: #f4f4f4; border-radius: 4px; }
li:hover { background-color: #e0e0e0; }
